@import "tailwindcss";

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    height: 100vh
}
